:root {
    --bg-color: #080808;
    --second-bg-color: #3555ff;
    --text-color: white;
    --second-text-color: #080808;
    --main-color: #d400ff;
    --alert-color: #cf1406;
    --drag-bg-color: #ffffdd;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-color);
}

.container {
    background-color: var(--bg-color);
    max-width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
}

.card {
    margin: 10px;
}

.card-header {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    text-align: center;
    font-size: 1.5rem;
}

.upload-area {
    border: 2px dashed var(--second-text-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: small;
    margin-bottom: none;
    transition: background-color 0.2s ease-in-out;
}

.upload-area.dragover {
    background-color: var(--drag-bg-color);
    border-color: var(--second-bg-color);
}

.upload-area i {
    font-size: 40px;
    color: var(--second-bg-color);
}

#fileNameArea {
    display: none;
}

#fileName {
    font-size: small;
}

#close {
    color: var(--alert-color);
}

.separator {
    text-align: center;
    margin: 10px;
}

.submit-area {
    margin-top: 20px;
    align-items: center;
}

.response {
    display: none;
}

#responseCard .card-body {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.result-area {
    display: none;
    text-align: left;
}

#loading {
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#copyButton {
    display: none;
    color: var(--second-bg-color);
}